:root {
  --nav-text-colour: #fd60c9;
  --nav-bg-colour: #000;
  --deep-blue: #003750;
  --dark-grey: #444;
  --deep-grey: #333;
  --light-grey: #f3f3f3;
  --mid-light-grey: #ececec;
  --mid-grey: #ccc;
  --mid-dark-grey: #888;
  --accent-colour-light: #ffa1e0;
  --accent-colour: #fd60c9;
  --highlight-colour: #e00095;
  --box-shadow-mid: rgba(100, 100, 100, 0.8);
  --box-shadow-light: rgba(0, 0, 0, 0.07);
}
