input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid transparent;
  background-color: #333;
  padding: 10px 15px; 
  border-radius: 5px; 
  margin-top: 6px; 
  margin-bottom: 20px; 
  resize: vertical;
  color: #fff;
}

input[type=text] {
  width: calc(50% - 10px);
  display: inline-block;
}

textarea {
  width: 100%; 
  display: block;
  height: 150px;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px 2px var(--accent-colour);
  border: 1px solid var(--accent-colour);
}

::-webkit-input-placeholder { /* Edge */
  color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

::placeholder {
  color: #999;
}

@media screen and (max-width: 600px) {

  input[type=text] {
    width: calc(100%);
    display: block;
  }
  
}
