* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: var(--light-grey);
}

main.container {
  height: 100%;
  background: var(--deep-grey);
}


/********************/
/* sections         */
/********************/

.section {
  width: 100%;
  min-height: 400px; 
  height: 100%;
  padding: 20px 40px 40px 40px;
  margin: 0 auto;
}

.section > .content-area {
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 5px 2px var(--box-shadow-light);
}

.limit {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.section.about {
  background: var(--deep-grey);
  /* transform: rotate(-5deg); */
}

.section.projects {
  background: var(--light-grey);
}

.section.contact {
  background: var(--deep-grey);
  /* background-color: #333333dd !important;
  background-image: url('/images/unsplash-red-painting.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background: linear-gradient(to bottom, #333333dd 0%,#33333333 100%),url("/images/unsplash-red-painting.jpg") */
}

.section-anchor {
  width: 100%;
  height: var(--nav-height);
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.3s ease;
}

.section-anchor.about {
  background: var(--deep-grey);
}

.section-anchor.projects {
  background: var(--deep-grey);
}

.section-anchor.contact {
  background: var(--light-grey);
}

/********************/
/* projects         */
/********************/

.project-container {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.project-container > .project {
  transform-style: flat;
  transform: scale(1);
  transition: all 0.3s ease;
  z-index: 4;
}

.project {
  width: 90px;
  height: 120px;
  margin: 10px;
  border-radius: 5px;
  display: block;
  animation: fadein 1s;
  box-shadow: 0 2px 4px -2px var(--box-shadow-mid);
  /* background-image: url(images/better-change-2.png);
  background-size: cover;
  background-repeat: no-repeat; 
  background-blend-mode: luminosity; */
}

.project:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
  z-index: 5;
  cursor: pointer;
  box-shadow: 0 3px 12px -1px var(--box-shadow-mid);
}

.project > .details {
  position: absolute;
  height: 25px;
  width: inherit;
  background: #fff;
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 4px 8px;
  font-size: 0.675rem;
  font-family: 'Open Sans', sans-serif;
  opacity: 1;
  transition: all 0.6s ease;  
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.project:hover > .details {
  height: calc(100% - 25px);
  opacity: 0.8;
  transition: all 0.6s ease;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project.node {
  background-color: #68A063;
}

.project.vue {
  background-color: #41B883;
}

.project.express {
  background-color: rgb(182, 182, 182);
}

.project.react {
  background-color: #61dbfb;
}

.project.mysql {
  background-color: #00758f;
}

.project.javascript {
  background-color: #f0db4f;
}

.project.css {
  background-color: #2965f1;
}

.project.bootstrap {
  background-color: #7952b3;
}

/********************/
/* tags             */
/********************/

.tags {
  padding: 0;
  margin: 0;
}

.tags > li {
  display: inline-block;
  margin: 10px 4px;
  font-weight: 600;
}

.tags > li > a {
  position: relative;
  display: inline-block;
  padding: 8px 8px 6px 30px;
  background-color: var(--mid-light-grey);
  color: var(--dark-grey);
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-bottom-left-radius: 0;
  box-shadow: 0 2px 4px -2px var(--box-shadow-mid);
}

.tags > li > a > img {
  position: absolute;
  bottom: 7px;
  left: 8px;
  width: 18px;
}

.tags > li > a > span {
  padding-left: 22px;
}

.tags > li > a.selected,
.tags > li > a:active {
  background-color: var(--mid-dark-grey);
  transition: all 0.2s ease;
  color: #fff;
}

.tags > li > a:hover {
  background-color: var(--mid-grey);
  transition: all 0.2s ease;
  color: var(--dark-grey);
}

/* .tags > li > a::before {
  content: '';
  width: 5px;
  height: 5px;
  z-index: 5;
  background-color: red;
  position: relative;
  right: 0;
  color: #000000;
  margin-right: 3px;
  font-size: 2rem;
} */


/********************/
/* general settings */
/********************/

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: var(--highlight-colour);
  margin: 10px 0;
}

h2 {
  font-size: 2.5rem;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.p-t-80 {
  padding-top: 80px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.anchor-padding {
  padding-bottom: 100px;
}

.font-size-16px {
  font-size: 1rem;
}

.font-size-12px {
  font-size: 0.75rem;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

/*/////////////////
// media queries // 
/////////////////*/

@media screen and (max-width: 600px) {

  .anchor-padding {
    padding-bottom: 10px;
  }

  .section {
    padding: 20px;
  }
  
  .section-anchor {
    height: 0;
    transition: all 0.3s ease;
  }

}
