.container {
  height: 100%;
  background: var(--deep-grey);
}

.limit {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--project-container-w) + var(--project-padding) * 2);
}

/********************/
/* sections         */
/********************/

.section {
  width: 100%;
  min-height: 300px; 
  height: 100%;
  padding: 40px 40px 60px 40px;
  margin: 0 auto;
}

.section > .content-area {
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
}

.section-anchor {
  width: 100%;
  height: calc(var(--nav-height) - 20px);
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.3s ease;
}

/****************/
/* buttons      */
/****************/

.btn {
  padding: 2px 16px;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  transition: all 0.2s ease;
  font-weight: 600;
}

button.btn  {
  padding: 10px 16px;
}

.btn.dark {
  background-color: #333;
  color: #fff;
}

.btn.light {
  background-color: #fdfdfd;
  color: #000;
  box-shadow: 0 5px 5px -5px #aaa;
}

a.btn img  {
  margin-top: 10px;
  margin-left: 10px;
}

button.btn img  {
  margin-top: 0;
  margin-left: 10px;
}

.btn i  {
  margin-top: 7px;
  margin-left: 10px;
  transition: all 0.2s ease;
  color: var(--accent-colour);
  font-size: 1.3rem;
}

.btn i.left  {
  margin-left: 0;
  margin-right: 10px;
}

.btn.dark:hover {
  background-color: #444;
  transition: all 0.2s ease;
}

.btn.light:hover {
  background-color: #666;
  color: #fff;
  transition: all 0.2s ease;
  box-shadow: 0 10px 10px -5px #aaa;
}

/******************/
/* profile image  */
/******************/

.profile-image-wrapper {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
  min-width: 150px;
  min-height: 150px;
}

.profile-image-wrapper:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%; 
  height: 100%;
  left: 0; 
  top: 0;
  box-shadow: inset 1px 5px 5px #aaa;
}

.profile-image-wrapper > img {
  vertical-align: middle;
  border-radius: 50%;
  object-position: 0;
}


/********************/
/* general settings */
/********************/

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: var(--highlight-colour);
  margin: 10px 0;
  letter-spacing: 1px;
  line-height: 1.15;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
  color: var(--accent-colour);
}

.paragraph {
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}

.box-shadow-light {
  box-shadow: 0 3px 5px 2px var(--box-shadow-light);
}

.box-shadow-dark {
  box-shadow: 0 1px 10px 3px #000;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align-all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.border-radius-5px {
  border-radius: 5px;
}

.bgcolor-dark-grey {
  background-color: #333;
}

.p-30 {
  padding: 30px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-rl-10, .m-lr-10  {
  margin: 0 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.p-t-80 {
  padding-top: 80px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.font-size-16px {
  font-size: 1rem;
}

.font-size-12px {
  font-size: 0.75rem;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

/*/////////////////
// media queries // 
/////////////////*/

@media screen and (max-width: 600px) {

  .anchor-padding {
    padding-bottom: 10px;
  }

  .section {
    padding: 25px;
  }
  
  .section-anchor, .section-anchor.home {
    height: 0;
    transition: all 0.3s ease;
  }
  
}