/*/////////////////
// navbar        // 
/////////////////*/

.navbar, .navbg {
  overflow: hidden;
  color: var(--nav-text-colour);
  position: fixed;
  top: 0; 
  width: 100%; 
  padding: 16.5px 40px;
  display: block;
}

.navbar, .navbg, .navbar-top {
  height: var(--nav-height);
}

.navbar-top {
  background-color: var(--deep-grey);
}

.navbg {
  background-color: var(--nav-bg-colour);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
  /* transform-style: preserve-3d; */
  z-index: 10;
}

.navbar {
  background-color: none;
  z-index: 10;
}

.navbar > .links > ul {
  margin: 0;
  padding: 5px 0;
}

.navbar > .links > ul > li {
  display: inline;
  font-weight: 700;
}

.navbar > .links > ul > li > a {
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.navbar > .links > ul > li > a:hover {
  background: rgb(255, 255, 255);
  color: black;
  transition: all 0.2s ease;
}

.navbar > .links > ul > li > img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*/////////////////
// media queries // 
/////////////////*/

@media screen and (max-width: 600px) {

  .navbar {
    display: none;
  }

  .navbg {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }

}
