:root {
  --nav-text-colour: #ff3d77;
  --nav-bg-colour: #000;
  --deep-blue: #003750;
  --dark-grey: #444;
  --deep-grey: #333;
  --lightest-grey: #fcfcfc;
  --light-grey: #f0f0f0;
  --mid-light-grey: #eaeaea;
  --mid-grey: #ccc;
  --mid-dark-grey: #888;
  --mid-darker-grey: #666;
  --accent-colour-light: #ffa1e0;
  --accent-colour: #ff3d77;
  --deep-wine: #66001e;
  --highlight-colour: #e00095;
  --box-shadow-mid: rgba(100, 100, 100, 0.8);
  --box-shadow-light: rgba(0, 0, 0, 0.07);
  --nav-height: 80px;
  --project-container-w: 720px;
  --project-padding: 20px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: var(--light-grey);
  line-height: 2;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-colour);
}
