html[data-theme="light"] {
  --accent-colour:  #1692f8;
  --dark-grey: #ddd;
  --deep-grey: #eee;
  --deepest-grey: #f0f0f0;
  --section-bg: #fff;
  --mid-grey-text: #002b47;
  --btn-colour: #002b47;
  --deepest-pink: #004074;
  --dark-grey-btn: #004074;
  --accent-colour-faded: #1692f866;
  --nav-highlight: #f0f0f0;
  transition: all 0.5s ease;
}

html[data-theme="light"] nav {
  background-color: #fff;
}

html[data-theme="light"] nav {
  border-bottom: 2px solid var(--accent-colour-faded);
}

section {
  transition: all 0.5s ease;
}

html[data-theme="light"] section::before {
  filter: invert(1);
  opacity: 1;
}

html[data-theme="light"] button.dark > img,
html[data-theme="light"] a.dark img {
  filter: hue-rotate(240deg) brightness(1.3)
}

html[data-theme="light"] .details {
  filter: invert(1);
  opacity: 1;
}

html[data-theme="light"] .project {
  opacity: 1;
}

/***************/
/* Backgrounds */
/***************/

html[data-theme="light"] .home-bg::before,
html[data-theme="light"] .about-bg::before,
html[data-theme="light"] .projects-bg::before,
html[data-theme="light"] .contact-bg::before,
html[data-theme="light"] .success-bg::before {
  filter: hue-rotate(235deg) blur(2px);
  opacity: 0.02;
}

html[data-theme="light"] .about-bg {
  background-color: white;
}

html[data-theme="light"] .home-bg::before,
html[data-theme="light"] .projects-bg::before {
  background: none;
}