/* html[theme="light"] .mode,
html[theme="light"] .details,
html[theme="light"] .info > li {
  filter: invert(1) hue-rotate(180deg);
}

html[theme="light"] h2,
html[theme="light"] a,
html[theme="light"] button {
  filter: hue-rotate(200deg);
}

html[theme="light"] form input,
html[theme="light"] form textarea,
html[theme="light"] .bgcolor-dark-grey,
html[theme="light"] .btn.dark {
  background-color: #111;
}

html[theme="light"] a:hover {
  background: rgb(173, 0, 121);
  color: black;
}

html[theme="light"] .emoji {
  filter: invert(0) hue-rotate(0deg);
} */

html[theme="light"] {
  --accent-colour:  #289eff;
  --accent-colour-light: lightblue;
  --nav-text-colour: #52b1ff;
  --deep-grey: #eee;
  --mid-grey-text: #333;
}

/* html[theme="light"] .mode {
  filter: invert(1) hue-rotate(180deg);
} */
